* {
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 100%;
    display: flex;
}

.seccion-1 {
    color: white;
    height: 100vh;
    width: 200px;
    background-color: darkslateblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.seccion-1 .elemento {
    background-color: red;
    padding: 20px;
}

.seccion-2 {
    color: aliceblue;
    height: 100vh;
    background-color: green;
    flex-grow: 1;
    text-align: center;
    font-size: 30px;
}

.seccion-2 .seccion-principal {
    margin-top: 15px;
    text-decoration: underline;
}

@media (max-width: 640px) {
    .contenedor {
        flex-direction: column-reverse;
    }
    .seccion-1 {
        height: 100px;
        width: 100%;
        flex-direction: row;
    }
}